<div class="global-container h-auto">
    <div class="container-fluid term d-flex flex-column justify-content-center align-items-center bg-white p-0">
        {{>header}}

        <div class="form-group item d-flex w-100 px-3 py-2 my-3">
            <div class="col-sm-12 col-12 px-0">
                Sebarkan Dalam Satu Klik
            </div>
        </div>

        <section class="px-3 m-0 w-100 privacy flex-grow-1 d-flex flex-column">

            <div class="form-group px-0 border-0 mb-0">
                <div class="col-sm-12 col-12 px-0">
                    <p>Ultipage kini hadir untuk menjawab kebutuhan Anda dalam berbisnis online. Berikan pengalaman belanja yang berkesan ke konsumen hanya dengan menggunakan 1 tautan. </p>
                    <p>Sebuah langkah mudah untuk meningkatkan efektivitas penjualan bisnis serta menyebarkan informasi bisnis Anda. Terima pesanan di mana saja dan kapan saja. Nikmati semua kemudahan mengatur konten bisnis hanya dengan Ultipage.</p>
                    
                </div>
            </div>
        </section>
        <div class="form-group item d-flex w-100 px-3 py-2 my-3">
            <div class="col-sm-12 col-12 px-0">
                Kelola Bisnis Anda Dengan Mudah
            </div>
        </div>
        <section class="px-3 m-0 w-100 privacy flex-grow-1 d-flex flex-column">

            <div class="form-group px-0 border-0 mb-0">
                <div class="col-sm-12 col-12 px-0">
                    <p>Semua masalah yang Anda hadapi dalam pencatatan transaksi, kelelahan membalas chat konsumen yang hanya menanyakan harga, hingga kesulitan mempromosikan bisnis Anda, bisa diselesaikan dengan Ultipage.</p>
                    <p>Kami ingin mendukung para pengusaha UMKM dan pebisnis pemula dengan menyediakan One Stop Application untuk mengatur semua konten bisnis hanya dalam 1 klik. </p>
                    
                </div>
            </div>
        </section>
    </div>
</div>