<div class="global-container h-auto">
    <div class="container-fluid term d-flex flex-column justify-content-center align-items-center bg-white p-0">
        {{>header}}

        <div class="form-group item d-flex w-100 px-3 py-2 my-3">
            <div class="col-sm-12 col-12 px-0">
                Kebijakan Privasi
            </div>
        </div>

        <section class="p-3 m-0 w-100 privacy flex-grow-1 d-flex flex-column">

            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <p>Kebijakan Privasi (“Kebijakan Privasi”) menjelaskan kebijakan PT Usaha Kreatif Indonesia
                        (“Kami”) melalui aplikasi Ultipage dan Ultipage & Partner (“Ultipage”) yang digunakan untuk
                        menyediakan dan meningkatkan Layanan dan Fitur (“Layanan”) Ultipage. Kebijakan Privasi ini
                        terdiri atas segala data pribadi yang diberikan oleh Pengguna Ultipage dan Partner Ultipage &
                        Partner (“Anda”) kepada Ultipage dan/atau data yang Ultipage kumpulkan dari Anda, yang kemudian
                        akan diproses oleh Ultipage mulai pada saat melakukan pendaftaran, mengakses dan menggunakan
                        Layanan Ultipage. </p>
                    <p>Anda dengan ini menyatakan bahwa Anda bertanggung jawab untuk : (i) membaca, mengetahui, dan
                        melakukan tinjauan atas Kebijakan Privasi ini; dan (ii) menyetujui hal yang Kami atur dalam
                        Kebijakan Privasi ini. Keadaan dimana Anda telah atau sedang menggunakan Layanan Kami merupakan
                        sebuah bentuk komitmen Anda dan sebagai persetujuan Anda terhadap Kebijakan Privasi ini dan
                        segala perubahannya.</p>
                    <p>Kami ingin memberikan pengalaman bagi Anda sebaik mungkin dalam menikmati setiap Layanan yang
                        Kami berikan, baik untuk saat ini maupun di masa mendatang. Privasi dan keamanan Data Pribadi
                        (“Data Pribadi”) milik Anda akan selalu menjadi hal yang sangat penting bagi Kami. Oleh karena
                        itu, Kami menguraikan secara transparan bagaimana cara kami mengumpulkan, menyimpan, dan
                        menggunakan Data Pribadi Anda sebagaimana dijabarkan di bawah ini. Dalam Kebijakan Privasi
                        mencakup hal-hal berikut ini:</p>
                    <ul class="pl-3" style="list-style: decimal;">
                        <li>Umum</li>
                        <li>Pernyataan dan Persetujuan</li>
                        <li>Informasi Anda dan Penggunaan Informasi</li>
                        <li>Informasi yang Dikumpulkan dari Pihak Ketiga</li>
                        <li>Keamanan dan Perlindungan Data Pribadi</li>
                        <li>Perubahan Kebijakan Privasi</li>
                        <li>Kontak Kami</li>
                    </ul>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">1. Umum</span>
                    <p>Sebagaimana dijelaskan dengan lebih lengkap dalam Syarat dan Ketentuan Penggunaan Ultipage
                        (“Syarat dan Ketentuan”), Ultipage menyediakan Layanan bagi Anda yang memiliki fungsi sebagai
                        perantara antara pengguna dan pemilik brand dalam hal memudahkan penyampaian informasi produk.
                        Kami mengharapkan Anda untuk senantiasa membaca secara detail apa saja yang diatur dalam
                        Kebijakan Privasi ini agar Anda turut memahami bagaimana kami mengelola, melindungi, dan
                        memfasilitasi Data Pribadi Anda.</p>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">2. Pernyataan dan Persetujuan</span>
                    <p>Jika Anda memilih untuk menggunakan Layanan Kami, maka Anda dianggap telah mengetahui, memahami,
                        dan menyetujui segala hal yang dijelaskan dalam Kebijakan Privasi ini (termasuk pula ketentuan
                        yang disediakan oleh Pihak Ketiga). Istilah yang digunakan dalam Kebijakan Privasi ini memiliki
                        arti yang sama seperti dalam Syarat dan Ketentuan Kami, yang dapat diakses pada waktu tertentu
                        kecuali ditentukan lain dalam Kebijakan Privasi ini. Kami tidak akan menggunakan atau membagikan
                        informasi Anda kepada siapapun, kecuali dalam hal tertentu sebagaimana dijelaskan dalam
                        Kebijakan Privasi ini.</p>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">3. Informasi Anda dan Penggunaan Informasi</span>
                    <p>Informasi yang ada dalam Ultipage (“Informasi Anda”) yang telah Kami kumpulkan memiliki tujuan
                        untuk memudahkan proses penggunaan aplikasi dan website Ultipage. Informasi Anda seperti
                        termasuk namun tidak terbatas pada :</p>
                    <ul class="pl-3">
                        <li>Data Pribadi Anda seperti antara lain : (i) nama lengkap atau Nama Badan Usaha; (ii) nomor
                            telepon; (iii) alamat email termasuk Google email; dan (iv) Password;</li>
                        <li>Aktivitas penggunaan Ultipage; </li>
                        <li>Konten;</li>
                        <li>Rekapitulasi data baik yang dilakukan oleh Kami maupun Pihak Ketiga seperti termasuk namun
                            tidak terbatas pada : (i) jumlah Click dan View; dan (ii) frekuensi kunjungan/penggunaan
                            aplikasi pada skala harian atau mingguan;</li>
                    </ul>
                    <p>Penggunaan informasi (“Penggunaan Informasi”) adalah mekanisme yang Kami gunakan terhadap
                        Informasi Anda yang sudah kami kumpulkan. Apabila Anda mendaftar Ultipage dan menggunakan
                        Ultipage, maka Kami berhak untuk menyimpan dan menggunakan informasi-informasi sebagaimana telah
                        disebutkan dalam Informasi Anda. Ultipage melakukan optimalisasi Penggunaan Informasi yang
                        dikumpulkan dari Anda untuk hal-hal berikut di bawah ini namun tidak terbatas pada:</p>
                    <ul class="pl-3" style="list-style: decimal;">
                        <li>Mengklarifikasi keaslian akun dan nomor telepon Anda ketika masuk ke akun Ultipage, termasuk
                            melakukan proses One Time Password (OTP);</li>
                        <li>Berkomunikasi kepada Anda melalui email, telepon, aplikasi serta saluran komunikasi lainnya;
                        </li>
                        <li>Menggunakan informasi sebagai bahan riset dan pengembangan Ultipage agar dapat memberikan
                            Layanan terbaik untuk Anda; </li>
                        <li>Memberikan pengalaman yang lebih menarik bagi Pengguna dalam menggunakan Ultipage dengan
                            cara memberikan promosi-promosi dan kegiatan pendukung lainnya;</li>
                        <li>Memberitahukan kepada Anda mengenai segala pembaruan pada aplikasi Ultipage dan/atau
                            perubahan pada layanan yang disediakan; </li>
                        <li>Mengolah dan menanggapi pertanyaan, kritik dan saran yang diterima dari Anda; </li>
                        <li>Mengirimkan kepada Anda komunikasi pemasaran, iklan, voucher, survei, dan informasi secara
                            langsung atau terfokus dan informasi tentang penawaran atau promosi khusus; Memberikan data,
                            informasi dan/atau dokumen kepada penegak hukum dan/atau otoritas lain yang berwenang
                            sebagaimana ditentukan, baik oleh peraturan perundang-undangan yang berlaku maupun Kebijakan
                            Pemerintah (apabila dipersyaratkan);</li>
                    </ul>
                    <p>Hal-hal yang berkaitan dengan Informasi Anda dan Penggunaan Informasi telah memperoleh
                        persetujuan pada saat pengumpulan informasi dilakukan. Harap Anda ketahui pula bahwa Kami
                        menggunakan layanan Pihak Ketiga untuk dapat mengumpulkan informasi yang digunakan untuk
                        mengidentifikasi, menganalisis, dan merekapitulasi Informasi Anda. Ketentuan lebih lanjut akan
                        dijelaskan dalam bagian Informasi yang Dikumpulkan oleh Pihak Ketiga dalam Kebijakan Privasi
                        ini. Kami tidak menyimpan Informasi Keuangan seperti termasuk namun tidak terbatas pada data
                        kartu kredit atau kartu debit Anda.</p>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">4. Informasi yang Dikumpulkan dari Pihak Ketiga</span>
                    <p>Kami mengumpulkan Informasi Anda dari Pihak Ketiga yang bekerjasama dengan Kami termasuk namun
                        tidak terbatas pada : (i) agen; (ii) vendor; (iii) mitra; dan (iv) pihak lainnya yang mendukung
                        Layanan Kami dan/atau melakukan tugas atas nama Kami (“Pihak Ketiga”). Dalam kasus tersebut,
                        Kami hanya akan mengumpulkan Informasi Anda untuk atau sehubungan dengan tujuan yang melibatkan
                        Pihak Ketiga tersebut atau tujuan kerja sama Kami dengan Pihak Ketiga tersebut (tergantung
                        situasi dan kondisi). </p>
                    <p>Kami menjamin bahwa setiap Informasi Anda yang Kami kumpulkan dan kirimkan kepada Pihak Ketiga
                        dan/atau akses secara langsung yang diterima oleh Pihak Ketiga tidak akan disalahgunakan dalam
                        ketentuan yang melanggar peraturan perundang-undangan serta Syarat dan Ketentuan Kami.</p>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">5. Penyimpanan dan Penghapusan Data Pribadi</span>
                    <p>Kami menyimpan data Anda ke dalam server yang sudah terakreditasi dan bersertifikasi untuk
                        mendukung pelaksanaan perlindungan data dan/atau informasi. Dalam pelaksanaanya Kami memiliki
                        fungsi yang bertanggung jawab dan mekanisme terhadap perlindungan data dan/atau informasi Anda.
                        Informasi Anda yang kami kumpulkan dan kami simpan hanya akan digunakan untuk memenuhi kebutuhan
                        Layanan dan demi kelancaran Anda menggunakan Ultipage. Kami akan berhenti menyimpan Informasi
                        Anda yang telah Kami Kumpulkan, segera setelah Kami mengetahui bahwa Anda sudah tidak
                        menggunakan Ultipage dan Informasi yang Kami kumpulkan tersebut sudah tidak lagi diperlukan
                        untuk kepentingan Kami atau pihak lain. </p>
                    <p>Harap Anda perhatikan bahwa Informasi Anda yang dikumpulkan atau disimpan oleh instansi
                        pemerintahan tertentu adalah hal yang dimungkinkan. Kami, tidak bertanggung jawab atas Informasi
                        Anda yang masih atau sedang disimpan dan/atau dikelola oleh Instansi Pemerintah dan/atau
                        institusi lainnya yang ditunjuk oleh Pemerintah yang berwenang untuk mendukung kegiatan Layanan
                        Kami. Dengan ini Anda menyetujui dan mengetahui bahwa terdapat cara-cara penyimpanan data yang
                        dilakukan oleh pihak di luar Kami dan membebaskan Kami dari segala bentuk ganti rugi, gugatan
                        perdata, tuntutan pidana, dan/atau tindakan hukum lainnya yang dapat merugikan Kami dan
                        pihak-pihak tertentu yang bekerja sama dengan kami.</p>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">6. Keamanan dan Perlindungan Data Pribadi</span>
                    <p>Informasi Anda merupakan hal yang menjadi prioritas utama Kami. Maka dengan itu, Kami harap Anda
                        mengerti bahwa Kami dan segenap pihak yang bekerja sama dengan Kami melakukan optimalisasi dalam
                        hal keamanan dan perlindungan Data Pribadi. Setiap individu dan sekumpulan individu yang bekerja
                        dengan Kami (Direksi, Dewan Komisaris, Karyawan, Konsultan, Badan Hukum, dan lain-lain)
                        merupakan pihak-pihak yang memiliki integritas dan kapasitas dalam menjaga Data Pribadi Anda.
                    </p>
                    <p>Harap Anda ketahui bahwa distribusi Informasi Anda melalui jaringan internet dan jaringan
                        sejenisnya tidak sepenuhnya aman. Kami turut sampaikan sekali lagi kepada Anda bahwa Informasi
                        Anda akan dikelola oleh tim Kami dengan optimal. Namun Kami tidak dapat memberikan jaminan
                        kepada Anda bahwa Informasi Anda tidak dapat diakses, diretas, dan/ atau diubah, baik kualitas
                        maupun kuantitas oleh Pihak Ketiga di luar faktor-faktor yang dapat Kami kendalikan. </p>
                    <p>Anda bertanggung jawab atas segala pemberitahuan penting, akses pribadi, Password, verifikasi One
                        Time Password (OTP) dan segala bentuk verifikasi serta otentifikasi lain yang akan atau telah
                        Kami gunakan dalam Layanan.</p>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">7. Perubahan Kebijakan Privasi</span>
                    <p>Harap Anda ketahui bahwa Kami dapat melakukan perubahan dan pembaharuan terhadap Kebijakan
                        Privasi atas kebijakan dan ketentuan Kami. Tentunya ini Kami lakukan agar Anda mengerti bahwa
                        Kami berkomitmen untuk tetap memberikan proteksi atas Data Pribadi Anda. Apabila Kami melakukan
                        perubahan atas Kebijakan Privasi ini, Kami akan memberitahukan kepada Anda melalui Ultipage
                        dan/atau alamat email yang Anda gunakan pada saat melakukan registrasi akun Ultipage.</p>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">8. Kontak Kami</span>
                    <p>Apabila Anda memiliki pertanyaan, keluhan dan/atau membutuhkan bantuan dapat menghubungi Kami
                        melalui <a class="mailto" href="mailto:support@ultipage.id">support@ultipage.id</a></p>
                </div>
            </div>

        </section>
    </div>
</div>