<div class="global-container h-auto">
    <div class="container-fluid term d-flex flex-column justify-content-center align-items-center bg-white p-0">
        {{>header}}

        <div class="form-group item d-flex w-100 px-3 py-2 my-3">
            <div class="col-sm-12 col-12 px-0">
                Syarat dan Ketentuan Ultipage & Partner
            </div>
        </div>

        <section class="p-3 m-0 w-100 term flex-grow-1 d-flex flex-column">

            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <p>Syarat dan Ketentuan ini mengatur bagaimana PT Usaha Kreatif Indonesia (“Kami”) mengelola Ultipage & Partner beserta fitur di dalamnya dan mengelola Data Pribadi yang dimasukkan ke dalam Ultipage & Partner (“Data Pribadi”). Dengan mengakses dan menggunakan layanan aplikasi dan/atau website Ultipage Partner (“Ultipage & Partner”), Pengguna Ultipage (“Pengguna”) dan Partner Ultipage (“Partner”) dianggap telah mengetahui dan menyetujui serta membaca apa yang tercantum dalam Syarat dan Ketentuan Ultipage (“Syarat dan Ketentuan”). Syarat dan Ketentuan ini berhubungan dengan Kebijakan Privasi Ultipage (“Kebijakan Privasi”) dan akan dijelaskan dalam bagian yang terpisah. </p>
                    <p>Syarat dan Ketentuan dapat Kami perbaharui, ubah, dan modifikasi sesuai dengan perkembangan dan kebijakan Kami. Perubahan tersebut akan Kami beritahukan dan Partner dianggap telah mengetahui dan menyetujui serta membaca setiap ketentuan yang tercantum dalam perubahan Syarat dan Ketentuan ini. Syarat dan Ketentuan ini mulai berlaku pada saat Partner menggunakan Ultipage & Partner dan berakhir pada saat Partner telah menghapus akun miliknya. Kami terbuka dengan kritik dan saran dari Partner. Apabila terdapat ketentuan dalam Syarat dan Ketentuan ini yang tidak dikehendaki oleh Partner, maka Kami mempersilahkan Partner untuk dapat menghubungi kami melalui ketentuan Kontak Kami pada bagian akhir Syarat dan Ketentuan ini.</p>
                </div>
            </div>

            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">1. Lingkup</span>
                    <p>Apa yang Kami atur dalam Syarat dan Ketentuan Ultipage & Partner adalah meliputi fitur, penggunaan, kebijakan, serta sanksi yang melingkupi Ultipage & Partner dalam pelaksanaan penggunaannya. Syarat dan Ketentuan ini berlaku secara eksklusif untuk Partner Ultipage.</p>
                </div>
            </div>

            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">2. Tanggung Jawab Partner</span>
                    <p>Segala bentuk kegiatan yang dilakukan oleh Partner baik untuk dirinya sendiri atau berkaitan dengan Pengguna dalam menggunakan Ultipage & Partner adalah tanggung jawab dan kesadaran penuh Partner. Kami tidak bertanggung jawab apabila terdapat kesalahan penggunaan seperti termasuk namun tidak terbatas pada kesalahan yang berkaitan dengan Data Partner, informasi produk, atau bentuk informasi lain yang disampaikan Partner melalui Kami. Meski demikian, selain dari apa yang disebutkan sebagai sebuah larangan dalam Syarat dan Ketentuan ini, Kami menghimbau kepada Partner untuk tidak melakukan hal-hal yang dapat merugikan Partner baik materil maupun immateriil seperti termasuk namun tidak terbatas pada:</p>
                    <ul class="pl-3">
                        <li>Tindakan larangan sehubungan dengan akun Partner yang akan dijelaskan dalam bagian Akun;
                        </li>
                        <li>Melakukan upaya pemecahan kode (reverse engineering), virus, worm, data atau hal sejenis yang dapat merusak sistem Ultipage baik lingkup program, dan database Ultipage & Partner;
                        </li>
                        <li>Tindakan yang bertentangan dengan perundang-undangan Indonesia dan norma sosial.</li>
                    </ul>
                </div>
            </div>

            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">3. Bahasa</span>
                    <p>Ultipage & Partner terdiri dari 2 (dua) versi bahasa, yakni Bahasa Indonesia dan Bahasa Inggris. Hasil terjemahan Syarat dan Ketentuan serta apa yang ada dalam Ultipage & Partner dari Bahasa Indonesia ke Bahasa Inggris begitu pula sebaliknya tidak merubah makna dari penggunaan Ultipage & Partner. Kami selalu memberikan informasi terbaru dan berusaha untuk tidak memberikan misinterpretasi bahasa kepada Partner agar selalu nyaman dalam menggunakan Ultipage. Kami turut pula informasikan kepada Partner bahwa apabila terdapat perbedaan penafsiran antara Syarat dan Ketentuan Ultipage & Partner versi Bahasa Indonesia dengan Bahasa Inggris, maka interpretasi makna yang digunakan adalah versi Bahasa Indonesia.</p>
                </div>
            </div>

            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">4. Akun</span>
                    <p>Kami menyediakan Akun Basic dan Akun Pro+ bagi Partner. Akun Pro+ akan Partner dapatkan dengan membayar biaya berlangganan yang lebih lanjut akan Kami jelaskan dalam bagian Ultipage & Partner Pro+. Dengan ketentuan ini, Partner menyetujui dan menjamin bahwa setuju untuk mengikuti Syarat dan Ketentuan yang mengatur mengenai akun Partner.</p>
                    <span class="pb-3 d-block">A. Pendaftaran Akun</span>
                    <div class="w-100 pl-3">
                        <p>Partner dapat bergabung dengan Ultipage & Partner dengan terlebih dahulu melakukan
                            pendaftaran akun. Pendaftaran akun Ultipage & Partner dilakukan dengan memasukkan (i) nama
                            lengkap pemilik merek dagang atau Perusahaan pemegang merek dagang (apabila pemilik merek
                            dagang berbentuk badan usaha) dari produk yang akan ditampilkan dalam Ultipage, (ii) nomor
                            telepon, dan (iii) kata sandi, atau Partner dapat mengintegrasikan akun Google milik
                            Partner. Ketentuan mengenai kata sandi (“Password”) Kami atur pada bagian Password dalam
                            Syarat dan Ketentuan ini. Harap Partner ketahui bahwa dalam hal Pendaftaran Akun, Kami:</p>
                        <ul class="pl-3">
                            <li>Mewajibkan Partner untuk mencantumkan nomor telepon yang aktif dan yang dapat tersambung
                                dengan WhatsApp pada saat melakukan pendaftaran akun;</li>
                            <li>Dalam hal integrasi akun email Google, kami tidak turut serta meminta hak akses atas (i)
                                kontak; (ii) media penyimpanan pribadi; (iii) dan perangkat Partner.</li>
                            <li>Melarang segala bentuk penyalahgunaan Hak Kekayaan Intelektual. Oleh karenanya, Kami
                                tidak akan bertanggung jawab terhadap segala bentuk penyalahgunaan Hak Kekayaan
                                Intelektual yang berhubungan dengan merek dagang Partner.</li>
                        </ul>
                        <p>Ketentuan lebih lanjut mengenai Hak Kekayaan Intelektual akan Kami jelaskan dalam bagian Hak
                            Kekayaan Intelektual pada Syarat dan Ketentuan ini. </p>
                        <p>Dengan ini Partner menyetujui bahwa dalam pendaftaran akun miliknya, Partner tidak akan:</p>
                        <ul class="pl-3">
                            <li>memalsukan atau mengatasnamakan dirinya tanpa bukti yang sah sebagai pemilik merek
                                dagang atau sebagai pihak yang berafiliasi dengan pemilik merek dagang tersebut.</li>
                            <li>Menampilkan Homepage Product miliknya yang tidak memiliki izin edar, produk yang
                                merupakan hasil imitasi atau yang menyerupai produk lain dengan tanpa izin atau bentuk
                                perjanjian eksklusif antara Partner dengan pihak terkait, dan/atau produk yang dapat
                                membahayakan kesehatan dan keselamatan orang lain.</li>
                        </ul>
                        <p>Partner setuju untuk dapat dimintai pertanggungjawaban apabila akun miliknya adalah tidak
                            valid dan/atau melanggar Syarat dan Ketentuan ini dan setuju untuk membebaskan Kami dari
                            segala gugatan dan/atau tuntutan hukum yang mungkin timbul di kemudian hari.</p>
                    </div>
                    <span class="pb-3 d-block">B. One Time Password (OTP)</span>
                    <div class="w-100 pl-3">
                        <p>Setelah Partner melakukan pendaftaran menggunakan nomor telepon, Kami akan mengirimkan kode
                            One Time Password (“OTP”) sesuai dengan nomor telepon yang telah dimasukkan. Sebagaimana
                            telah Kami himbau sebelumnya, nomor telepon yang dimasukkan adalah nomor telepon yang aktif
                            memiliki sinyal internet ataupun menerima dan mengirim pesan singkat. Kami mengirimkan kode
                            OTP melalui Layanan Pesan Singkat (Short Messaging Service/”SMS”) dengan menunjukkan 3
                            (tiga) digit terakhir nomor telepon terkini yang Partner gunakan pada saat proses
                            pendaftaran dan penggantian nomor telepon. Pengiriman kode OTP ini bebas biaya. Kode OTP
                            yang Kami kirimkan melalui SMS memiliki jangka waktu penggunaan selama 30 (tiga puluh)
                            detik. Partner dapat meminta untuk pengiriman ulang kode OTP. Partner wajib menjaga
                            kerahasiaan kode OTP dengan tidak membagikan kode OTP tersebut kepada siapapun. </p>
                        <p>Perlu diketahui, Kami tidak pernah meminta kode OTP dengan cara apapun. Apabila Partner
                            menemukan kejadian sedemikian rupa, harap menghubungi Kami melalui layanan Kontak Kami pada
                            Syarat dan Ketentuan ini. Apabila Partner mengetahui secara sadar dan tidak segera
                            menghubungi Kami, maka Partner setuju untuk menanggung setiap risiko terkait pengungkapan
                            informasi kepada pihak ketiga manapun yang mengatasnamakan Kami dan bertanggung jawab penuh
                            atas setiap konsekuensi yang berkaitan dengan hal tersebut.</p>
                    </div>
                    <span class="pb-3 d-block">C. Login</span>
                    <div class="w-100 pl-3">
                        <p>Partner yang telah mendaftarkan akun miliknya dapat login dengan cara mengisi nomor telepon
                            dan Password atau masuk melalui akun Google. Kami memberikan kemudahan bagi Partner untuk
                            dapat melakukan login dari perangkat yang berbeda dalam waktu yang bersamaan. Dengan
                            ketentuan tersebut, segala bentuk pengalihan, perpindahan, atau pertukaran informasi login
                            yang telah disebutkan sebelumnya merupakan tanggung jawab Partner sepenuhnya. Penyebarluasan
                            informasi login yang bersifat pribadi dan rahasia kepada pihak lain diluar sepengetahuan
                            Partner bukan merupakan tanggung jawab Kami karena Kami tidak menyimpan informasi login yang
                            bersifat pribadi dan rahasia dalam bentuk apapun dan tidak dapat diakses oleh siapapun dalam
                            lingkup internal Kami.</p>
                    </div>

                    <span class="pb-3 d-block">D. Password</span>
                    <div class="w-100 pl-3">
                        <p>Perlu Kami tegaskan bahwa Password merupakan hal yang bersifat pribadi dan rahasia. <b>Kami
                                melalui petugas Kami tidak pernah meminta Password dengan cara apapun diluar Ultipage &
                                Partner</b>. Kami menghimbau kepada Partner bahwa dalam menggunakan Ultipage & Partner,
                            penyimpanan atas Password merupakan tanggung jawab sepenuhnya dari Partner dan Kami hanya
                            menyediakan fitur Reset Password bagi Partner bilamana lupa akan password yang telah
                            digunakan sebelumnya. Reset Password hanya dapat dilakukan dengan langkah-langkah sebagai
                            berikut di bawah:</p>
                        <ul class="pl-3">
                            <li>Memasukkan nomor telepon yang telah digunakan oleh Partner pada saat Pendaftaran Akun
                                atau nomor telepon terkini apabila Partner telah mengganti nomor telepon;</li>
                            <li>Kami akan mengirimkan kode OTP ke nomor telepon yang telah dimasukkan sebelumnya dengan
                                menampilkan 3 (tiga) digit akhir nomor telepon tersebut sebagai bentuk konfirmasi;</li>
                            <li>Kode OTP berjumlah 6 (enam) digit dan Kami hanya mengirimkan Kode OTP tersebut melalui
                                SMS resmi dan tidak akan menanyakan Kode OTP melalui telepon, video call, atau layanan
                                media sosial lain;</li>
                            <li>Kode OTP akan dikirim ulang dengan durasi 30 (tiga puluh) detik dari Kode OTP sebelumnya
                                apabila Partner tidak menerima Kode OTP; dan</li>
                            <li>Partner akan disambungkan ke halaman selanjutnya untuk mengisi Password yang baru
                                beserta konfirmasinya.</li>
                        </ul>
                        <p>Dalam pengisian Password, Kami menghimbau kepada Partner untuk melakukan kombinasi huruf
                            kecil dan kapital, tanda baca dan angka yang terdiri dari 8-12 (delapan sampai dua belas)
                            digit.</p>
                    </div>

                    <span class="pb-3 d-block">E. Ultipage & Partner Basic</span>
                    <div class="w-100 pl-3">
                        <p>Pada saat melakukan pendaftaran akun pertama kali, Partner secara otomatis akan masuk sebagai
                            pengguna Ultipage & Partner Basic, yakni kategori Partner Ultipage yang hanya memiliki
                            fitur-fitur terbatas. Selain itu, Partner yang telah melakukan pendaftaran tetapi tidak
                            melakukan upgrade atau tidak membayar biaya berlangganan sebagaimana yang diatur dalam
                            Syarat dan Ketentuan ini juga termasuk dalam Partner akun Basic.</p>
                    </div>

                    <span class="pb-3 d-block">F. Ultipage & Partner Pro+</span>
                    <div class="w-100 pl-3">
                        <p>Partner pengguna akun Pro+ akan memperoleh fasilitas yang tidak diberikan kepada akun Basic,
                            sebagaimana yang tertera pada tabel di bawah. Oleh karenanya, Partner wajib membayar biaya
                            berlangganan untuk mendapatkan fasilitas sebagaimana dimaksud. Sebelum jatuh tempo
                            pembayaran, Kami akan melakukan penagihan kepada Partner selama 3 (tiga) kali berturut-turut
                            dalam jangka waktu 7 (tujuh) hari kalender melalui pemberitahuan email. Pemberitahuan
                            melalui email sebagaimana dimaksud akan dilakukan pada H-7, H-4 dan H-1. Apabila setelah
                            jatuh tempo Partner belum juga melakukan kewajiban membayar biaya berlangganan akun Pro+,
                            maka Kami akan membekukan akun Anda sampai dengan Anda melakukan pembayaran atas biaya
                            berlangganan akun Pro+. Dalam hal Anda belum membayar atau memilih untuk tidak melanjutkan
                            berlangganan akun Pro+, Anda dapat membuat Homepage Product baru yang dapat diunggah
                            sebagaimana halnya fitur yang tersedia pada akun Basic.</p>
                        <p>Berikut tabel perbandingan akun Basic dengan akun Pro+ :</p>
                        <img class="pb-3" src="{{ host_no_basepath }}/{{ basepath }}/images/tableBasicPro.jpg">
                        <p>Mekanisme pembayaran atas akun Pro+ terdiri dari 1 (satu) bulan, 3 (tiga) bulan, dan 6 (enam)
                            bulan. Sedangkan harga/biaya berlangganan dapat dilihat pada Aplikasi Ultipage & Partner
                            yang digunakan. Biaya berlangganan bersifat fluktuatif, oleh karenanya Kami akan
                            menginformasikan kepada Partner mengenai perubahan harga pada waktu 30 (tiga puluh) hari
                            sebelum pembayaran dilakukan.</p>
                        <span class="pb-3 d-block">1. Change URL</span>
                        <div class="w-100 pl-3">
                            <p>Partner dengan akun Pro+ dapat mengubah Uniform Resource Locator (URL) miliknya sesuai
                                yang dikehendaki. Kami akan memberikan notifikasi kepada Partner melalui Ultipage
                                apabila URL tersebut sudah digunakan oleh Partner lain. Notifikasi yang Kami lakukan
                                hanya merujuk pada kosakata yang sama antara Partner satu dengan yang lain. Maka dari
                                itu, Kami menghimbau Partner untuk memperbarui kata kunci pada Search Engine
                                Optimization (SEO) Tools segera setelah mengganti URL. </p>
                            <p>Perlu Partner ketahui bahwa Kami berperan sebagai perantara antara Pengguna dengan
                                Partner melalui URL. Partner setuju bahwa apabila terdapat error, baik yang berasal dari
                                dalam URL seperti termasuk namun tidak terbatas pada internal error atau eksternal error
                                maupun dari luar URL seperti termasuk namun tidak terbatas pada isi, spesifikasi,
                                pengelolaan dan keamanan website merupakan tanggung jawab Partner selaku pemilik URL
                                tersebut dan/atau tanggung jawab dari pihak ketiga atas URL tersebut apabila kepemilikan
                                atas URL Partner melalui pihak ketiga adalah bukan tanggung jawab Kami.</p>
                        </div>
                        <span class="pb-3 d-block">2. Switch Account</span>
                        <div class="w-100 pl-3">
                            <p>Partner dapat mengganti akun yang digunakan dalam aplikasi Ultipage & Partner maksimal
                                sebanyak 3 (tiga) akun dalam satu perangkat. Pergantian akun oleh Partner tidak akan
                                merubah data yang sedang berjalan seperti termasuk namun tidak terbatas pada Search
                                Engine Optimization (SEO) Tools dan Insight. Kami tidak bertanggung jawab terhadap
                                penggantian akun oleh Partner setiap saat Partner menggunakan Ultipage & Partner.</p>
                        </div>
                        <span class="pb-3 d-block">3. Insight</span>
                        <div class="w-100 pl-3">
                            <p>Insight merupakan hasil rekapitulasi masing-masing Homepage Product dari Partner yang
                                terdiri dari Clicks dan View. Clicks merupakan perhitungan jumlah Pengguna yang mengklik
                                isi dari : (i) URL; (ii) Bio Link; dan (iii) Catalogue. View merupakan perhitungan
                                jumlah Pengguna yang melihat isi dari URL masing-masing Homepage Product Partner dan
                                perhitungan atas Pengguna yang melihat Homepage Product milik Partner. Insight dibedakan
                                dengan perhitungan selama 7 (tujuh) hari dan 30 (tiga puluh) hari yang dimulai saat (1)
                                satu hari setelah akun Partner menjadi Pro+. Partner dapat mengetahui jumlah View
                                Homepage Product miliknya dengan detail perhitungan setiap harinya dan setiap minggunya.
                                Harap Partner ketahui bahwa perubahan yang terjadi pada Homepage Product milik Partner
                                yang telah diunggah akan mengakibatkan perubahan informasi atas Insight menjadi 0 (nol)
                                dan akan terakumulasi kembali pada 1 (satu) hari setelah diunggah kembali Homepage
                                Product milik Partner. </p>
                            <p>Partner dapat mendapatkan informasi Insight melalui file berekstensi .pdf yang akan Kami
                                kirimkan ke alamat email yang telah didaftarkan oleh Partner. Maka dari itu, Kami
                                ingatkan kembali kepada Partner untuk memasukkan alamat email yang valid dan dapat
                                diakses oleh Partner. Informasi Insight adalah hal yang berkaitan dengan bisnis Partner,
                                kami menyarankan agar hasil Insight tidak disebarluaskan diluar lingkup Partner baik
                                sengaja maupun tidak sengaja. Kami tidak bertanggung jawab atas apa yang Partner lakukan
                                setelah membuka Insight yang telah Kami berikan.</p>
                        </div>
                        <span class="pb-3 d-block">4. Search Engine Optimization (SEO) Tools</span>
                        <div class="w-100 pl-3">
                            <p>Kami memberikan fitur Search Engine Optimization (SEO) Tools secara eksklusif kepada akun
                                Pro+ yang bertujuan untuk meningkatkan hasil pencarian Homepage Product milik Partner
                                pada mesin pencarian. Partner dapat mengaktifkan fitur SEO Tools sesuai kehendak Partner
                                dan mengubah setelan SEO Tools miliknya. SEO Tools dalam Ultipage terdiri dari : (i) SEO
                                Title; (ii) SEO Description; (iii) SEO Keyword (maksimal 20 (dua puluh) karakter). Kami
                                menyarankan kepada Partner untuk menuliskan kata-kata yang menggambarkan Homepage
                                Product miliknya. Partner ketahui dan setuju bahwa:</p>
                            <ul class="pl-3">
                                <li>Partner tidak akan menuliskan kata-kata dalam SEO Tools yang termasuk dalam atau
                                    memenuhi baik sebagian maupun seluruhnya unsur-unsur atas :(i) Suku, Agama, Ras, dan
                                    Antar Golongan (SARA); (ii) ujaran kebencian; (iii) berita palsu/hoax; (iv) materi
                                    yang berkaitan dengan penipuan termasuk pula yang sejenis dengan judi, (permainan)
                                    dadu, jackpot, lotere, taruhan, undian; dan (v) merujuk pada pornografi atau
                                    perkataan yang dapat disamakan dengan itu;</li>
                                <li> Hasil pencarian atas SEO Tools dalam Ultipage & Partner yang Kami gunakan adalah
                                    merupakan milik dan dikelola oleh pihak ketiga seperti termasuk namun tidak terbatas
                                    pada Google, Bing, Yahoo, dan bentuk mesin pencarian lain. Maka dari itu, bentuk
                                    pertanggungjawaban atas pemberitaan, promosi, atau hal yang berkaitan dengan Partner
                                    adalah bukan tanggung jawab Kami dan tidak ada hubungannya dengan Kami.</li>
                            </ul>
                        </div>
                        <span class="pb-3 d-block">5. Metode Pembayaran</span>
                        <div class="w-100 pl-3">
                            <p>Pembayaran atas akun Pro+ dapat dilakukan melalui media pembayaran yang telah Kami
                                sediakan melalui Ultipage. Partner setuju untuk turut mengikatkan diri terhadap
                                mekanisme dan ketentuan pembayaran oleh media pembayaran yang bekerjasama dengan Kami.
                                Harap Partner ketahui bahwa Kami tidak pernah meminta informasi yang berkaitan dengan
                                Data Pribadi dan informasi akun pembayaran milik Partner seperti termasuk namun tidak
                                terbatas pada : (i) kartu kredit; (ii) uang elektronik atau dompet elektronik; dan (iii)
                                transfer bank. Kami akan memberitahukan kepada Partner melalui Ultipage apabila terdapat
                                media pembayaran lain yang bekerjasama dengan Kami dan Partner setuju untuk mengikatkan
                                diri secara otomatis terhadap ketentuan media pembayaran tersebut.Penagihan atas
                                pembayaran akan dilakukan melalui alamat email milik Partner. Maka dari itu, Kami
                                menghimbau kepada Partner untuk mengisi alamat email aktif milik Partner. </p>
                            <p>Pembayaran dikatakan telah berhasil apabila : (i) status Partner telah berubah menjadi
                                Pro+; atau (ii) jangka waktu akun Pro+ telah diperpanjang.</p>

                            </ul>
                        </div>
                    </div>
                    <span class="pb-3 d-block">G. Penghapusan Akun</span>
                    <div class="w-100 pl-3">
                        <p>Partner dapat menghapus akun miliknya. Penghapusan akun merupakan kesadaran penuh oleh
                            Partner dengan ketentuan bahwa Partner akan mengetik kata “delete” atau “hapus” pada akun
                            miliknya dan Kami tidak memiliki akses apapun tanpa seizin Partner untuk menghapus.
                            Penghapusan akun Partner termasuk pula penghapusan Data Pribadi dan Konten yang terdapat di
                            dalamnya seperti namun tidak terbatas pada : (ii) Bio Link; (iii) Homepage Product; (iv)
                            Template; (v) Catalogue; (vi) Insight dan Search Engine Optimization Tools (berlaku bagi
                            Partner Ultipage Pro+), dan (viii) data pembayaran. </p>
                        <p>Perlu Kami beritahukan kepada Partner bahwa Kami tidak menyimpan data cadangan apapun milik
                            Partner yang telah menghapus akunnya di Ultipage & Partner. Oleh karenanya, Partner setuju
                            untuk membebaskan Kami dari segala bentuk gugatan maupun tuntutan yang berasal dari diri
                            Partner sendiri dan/atau pihak lain yang bekerjasama dengan Partner terkait hal-hal yang
                            berhubungan dengan penghapusan akun.</p>
                    </div>
                    <span class="pb-3 d-block">H. Pembatalan Akun</span>
                    <div class="w-100 pl-3">
                        <p>Partner berhak atas pembatalan akun Ultipage dengan memenuhi Syarat dan Ketentuan serta mekanisme yang telah Kami tentukan. Dalam hal Partner membatalkan akun Ultipage & Partner miliknya, Partner tidak berhak atas pengembalian dana ( "Refund")  berkaitan dengan akun Pro+.</p>
                        <p>Ketentuan dimana Partner tidak berhak atas Refund akun Pro+ dikecualikan hanya jika terdapat keadaan dimana akun Pro+ milik Partner tidak berhasil terupgrade dengan keadaan seperti termasuk namun tidak terbatas pada : kesalahan sistem internal, koneksi internet, dan kondisi lain yang disebabkan oleh aplikasi Kami, dan bukan kehendak Partner.</p>
                        <p>Partner dapat mengajukan Refund melalui CS yang telah Kami sediakan dalam Aplikasi Ultipage & Partner maupun pada Syarat dan Ketentuan ini. Perlu Partner ketahui bahwa proses Refund mengikuti Jam dan Hari Kerja pada bank dan penyedia jasa layanan perbankan lainnya. Dana pada Refund akan Kami kirimkan melalui jasa layanan perbankan yang telah bekerjasama dengan Kami kepada rekening Partner yang sebelumnya telah Kami verifikasi.</p>
                    </div>
                    <span class="pb-3 d-block">I. Pemblokiran Akun</span>
                    <div class="w-100 pl-3">
                        <p>Kami berhak untuk memblokir akun Partner dalam hal Partner telah senyata-nyatanya melakukan
                            hal-hal seperti : (i) melanggar Syarat dan Ketentuan ini; (ii) mendapatkan pengaduan dari
                            Pengguna yang selanjutnya akan Kami koordinasikan lebih lanjut kepada Partner atas pengaduan
                            tersebut; dan/atau (iii) pemberitaan umum yang dapat mempengaruhi nama baik Perusahaan
                            dan/atau bisnis Kami.</p>
                    </div>

                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">5. Hak Kekayaan Intelektual</span>
                    <div class="w-100 pl-3">
                        <p>Partner menjamin bahwa Merek yang didaftarkan kepada Kami telah memperoleh perlindungan dari Direktorat Jenderal Kekayaan Intelektual atau sekurang-kurangnya sedang dalam proses pendaftaran pada Direktorat Jenderal Kekayaan Intelektual dan tidak melanggar ketentuan mengenai Undang-Undang Nomor 20 Tahun 2016 tentang Merek dan Indikasi Geografis. Partner setuju untuk tidak melakukan gugatan atau tuntutan kepada Kami terkait Hak Kekayaan Intelektual Partner yang ada pada Ultipage dan bertanggung jawab atas gugatan atau tuntutan dari pihak lain sehubungan dengan Hak Kekayaan Intelektual milik Partner yang ada pada Ultipage. Partner dengan ini memberikan izin kepada Kami untuk melakukan pengelolaan atas penggunaan gambar, logo, nama, kata, huruf, angka, susunan warna, dalam bentuk 2 (dua) dimensi dan/atau 3 (tiga) dimensi, suara, hologram, atau kombinasi dari 2 (dua) atau lebih dan hal lain yang terkait dengan Hak Kekayaan Intelektual milik Partner. Pengelolaan sebagaimana dimaksud adalah sepanjang Konten yang didalamnya terdapat unsur Hak Kekayaan Intelektual Partner tersebut masih tersedia baik dalam Ultipage maupun dalam media lain yang berkaitan dengan Ultipage atau bisnis Kami.</p>
                    </div>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">6. Konten</span>
                    <div class="w-100 pl-3">
                        <p>Informasi Yang Tercantum di Ultipage (“Konten”) adalah termasuk namun tidak terbatas pada informasi yang dapat dilihat secara visual maupun tertulis, mengandung informasi tertentu, dan memiliki kemungkinan atas Hak Kekayaan Intelektual yang melekat di dalamnya. Partner mengetahui dan menyetujui bahwa:</p>
                        <ol type="a">
                            <li>Merupakan kesadaran penuh Partner dalam hal Partner hendak atau pada saat mengisi, mengubah baik kuantitas, kualitas, dan/atau deskripsi, memilih, menghapus, dan mengunggah Konten;</li>
                            <li>Bentuk pertanggungjawaban Kami hanya sebatas penyedia layanan promosi atas Konten yang diunggah oleh Partner dan Kami tidak memiliki kewenangan untuk mengubah apapun mengenai Konten milik Partner tanpa seizin Partner kecuali Konten milik Partner telah melanggar Syarat dan Ketentuan ini;</li>
                            <li>Kami tidak bertanggung jawab atas keamanan, orisinalitas, perbedaan bahan, warna, maupun kualitas dan/atau kuantitas produk yang ditampilkan Konten dalam Ultipage;</li>
                            <li>Partner membebaskan Kami dari segala tuntutan dan/atau gugatan atas Konten Partner.</li>
                        </ol>
                        <p>Partner dalam menggunakan Ultipage & Partner setuju untuk tidak mengunggah Konten sebagaimana tersebut di bawah ini:</p>
                        <ol type="a">
                            <li>Melanggar Syarat dan Ketentuan ini;</li>
                            <li>Melanggar aturan perundang-undangan yang berlaku di Indonesia;</li>
                            <li>Melanggar kesusilaan dan hukum kebiasaan;</li>
                            <li>Memiliki unsur SARA yang diolah sedemikian rupa;</li>
                            <li>Terdapat kata kasar dan ujaran kebencian;</li>
                            <li>Bukan miliknya atau mengunggah produk orang lain tanpa izin pemilik langsung;</li>
                            <li>Tidak sesuai dengan apa yang senyatanya Partner cantumkan dengan keadaan aslinya; dan</li>
                            <li>Tersimpan didalamnya yakni virus, trojan, malware, code, algoritma, atau bentuk pemrograman lain yang pada pokoknya dapat membahayakan baik sistem Ultipage, Kami, Pengguna, Partner lain, pihak yang bekerjasama dengan Kami dari sisi bisnis maupun non bisnis.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">7. Homepage Product</span>
                    <div class="w-100 pl-3">
                        <p>Partner menampilkan produk-produk yang ditawarkan kepada Pengguna beserta dengan kegiatan terkini melalui fitur Homepage Product yang didalamnya terdapat Bio Link, Template, Catalogue, dan Banner dengan turut menyertakan informasi antara lain:</p>
                        <ol type="a">
                            <li>Foto jelas produk yang ditawarkan oleh Partner yang dapat dipilih oleh Pengguna;</li>
                            <li>Nama yang secara spesifik merujuk pada produk yang ditawarkan dengan tidak melanggar Syarat dan Ketentuan ini;</li>
                            <li>Deskripsi mengenai produk antara lain namun tidak terbatas pada bahan yang digunakan, pilihan warna, ukuran, dimensi, aroma, fitur atau hal-hal lain yang berhubungan dengan keadaan nyata produk tersebut;</li>
                            <li>Harga untuk masing-masing produk dan keranjang atas jumlah produk yang dipilih Pengguna.</li>
                        </ol>
                        <p>Kami menyediakan 2 (dua) macam Homepage Product yang berbeda. Namun, Partner hanya dapat mengunggah 1 (satu) Homepage Product untuk setiap Akunnya. Partner dapat meninjau ulang dan merubah Homepage Product sebelum diunggah atau dapat menyimpan hasil perubahan tersebut untuk dapat diunggah di lain waktu dan ketentuan ini berlaku baik bagi pemilik akun Ultipage Basic maupun Ultipage Pro+. Partner setuju untuk dapat dimintai pertanggungjawaban apabila substansi/isi dari Homepage Product tersebut adalah tidak valid dan/atau melanggar Syarat dan Ketentuan ini dan setuju untuk membebaskan Kami dari segala gugatan dan/atau tuntutan hukum yang mungkin timbul di kemudian hari.</p>
                        <ol type="1">
                            <li>Bio Link
                                <p>Kami menyediakan fitur Bio Link dalam Ultipage yang dapat digunakan oleh Partner untuk menghubungkan antara Pengguna ke tautan atau halaman produk-produk Partner. Kami hanya berwenang untuk menampilkan Bio Link yang disediakan oleh Partner, sedangkan untuk substansi/isi yang terkandung dalam Bio Link tersebut bukan merupakan tanggung jawab Kami. Kami menghimbau kepada Partner untuk dapat meninjau secara berkala terkait validitas substansi/isi dari Bio Link tersebut agar baik Kami, Partner, dan Pengguna merasa aman. </p>
                                <p>Partner dalam mengisi Bio Link setuju untuk menyertakan antara lain nama Bio Link beserta tautan dengan ketentuan sebagai berikut:</p>
                                <ol type="a">
                                    <li>Tidak memiliki unsur (i) Suku, Agama, Ras, dan Antar Golongan (SARA); (ii) ujaran kebencian; (iii) berita palsu/hoax; (iv) materi yang berkaitan dengan penipuan termasuk pula yang sejenis dengan judi, (permainan) dadu, jackpot, lotere, taruhan, undian; dan (v) merujuk pada pornografi atau perkataan yang dapat disamakan dengan itu;</li>
                                    <li>Mewakili produk yang ditawarkan atau nama merek dagang milik Partner; dan</li>
                                    <li>Tidak terdapat virus, trojan, malware, code pada tautan.</li>
                                </ol>
                            </li>
                            <li>
                                Template
                                <p>Kami menyediakan template untuk dapat digunakan oleh Partner. Template yang kami sediakan terdiri dari template gratis dan berbayar. Template berbayar akan Partner dapatkan bilamana Partner mengupgrade akunnya menjadi Ultipage & Partner Pro+. Partner dapat mengganti template sesuai pilihan yang ada meskipun telah menyimpan dan/atau mengunggah Homepage Product. </p>
                            </li>
                            <li>Catalogue
                                <p>Catalogue adalah berbagai macam produk yang ditawarkan kepada Pengguna. Pengisian Catalogue merupakan hal yang bersifat opsional bagi Partner. Kami menyarankan Partner untuk menuliskan kata-kata yang dapat menarik minat Pengguna dengan tidak melanggar Syarat dan Ketentuan ini.</p>
                            </li>
                            <li>Banner
                                <p>Partner dalam mempromosikan produknya dapat mengunggah gambar yang menjelaskan mengenai kegiatan terkini, promosi yang sedang dilangsungkan oleh Partner, atau bentuk aktivitas Partner yang masih berkaitan dengan produk yang ditawarkan atau Partner sendiri. Partner setuju bahwa dalam hal pengunggahan Banner akan memenuhi Syarat dan Ketentuan ini dan tidak mengunggah gambar yang memiliki atau memenuhi baik sebagian atau seluruhnya tentang:</p>
                                <ol type="a">
                                    <li>Unsur (i) Suku, Agama, Ras, dan Antargolongan (SARA);</li>
                                    <li>Ujaran kebencian;</li>
                                    <li>Berita palsu/hoax;</li>
                                    <li>Materi yang berkaitan dengan penipuan termasuk pula yang sejenis dengan judi, (permainan) dadu, jackpot, lotere, taruhan, undian; dan</li>
                                    <li>Pornografi atau perkataan yang dapat disamakan dengan itu.</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">8. Data Pribadi & Privasi</span>
                    <div class="w-100 pl-3">
                        <p>Dalam hal penyimpanan Data Pribadi, Kami hanya menyimpan antara lain: (i) nama lengkap atau Nama Badan Usaha Partner; (ii) nomor telepon Partner yang digunakan pada saat penggunaan Ultipage; dan (iii) Password. Meski demikian, Harap Partner ketahui bahwa Kami menjamin Data Pribadi yang telah Partner masukkan dalam Ultipage adalah aman dan tidak akan digunakan tanpa sepengetahuan atau seizin Partner, baik oleh Kami maupun pihak lain seperti termasuk namun tidak terbatas pada:</p>
                        <ol type="a">
                            <li>Organ Perusahaan;</li>
                            <li>Karyawan;</li>
                            <li>Pihak Ketiga yang berhubungan dengan kami baik bisnis seperti vendor maupun non bisnis seperti penyedia server; dan</li>
                            <li>Lembaga pemerintahan yang berwenang.</li>
                        </ol>
                        <p>Sehubungan dengan privasi dan bagaimana Kami mengelola Data Pribadi, Kami mengaturnya dalam Kebijakan Privasi yang dapat diakses oleh Partner dalam Ultipage sewaktu-waktu oleh Partner sendiri. Namun, yang perlu Kami sampaikan kepada Partner adalah Kami, melalui pihak yang bekerjasama dengan Kami, melindungi keseluruhan Data Pribadi dengan menerapkan kebijakan-kebijakan pengelolaan Data Pribadi dalam hal penyediaan server dan sejenisnya. Partner dalam menggunakan Ultipage & Partner dapat mengganti Data Pribadi sebagaimana tersebut di bawah:</p>
                        <ol type="a">
                            <li>Nama lengkap;</li>
                            <li>Nomor telepon;</li>
                            <li>Password; dan</li>
                            <li>Alamat email</li>
                        </ol>
                        <p>Meskipun Kami memberikan opsi untuk membatalkan konektivitas akun Partner melalui sistem Google mail (Gmail), Kami menyarankan Partner untuk tetap mengintegrasikan alamat email Partner dengan sistem Gmail demi kemudahan, konektivitas, dan pembayaran atas akun Ultipage Pro+ yang akan Kami jelaskan dalam bagian Ultipage Pro+ pada Syarat dan Ketentuan ini. Dalam hal pergantian nomor telepon, Kami akan melakukan verifikasi nomor telepon dengan cara seperti apa yang telah Kami jelaskan di atas pada bagian One Time Password (OTP). Apabila Partner tidak melakukan verifikasi nomor telepon, Partner tidak dapat menggunakan beberapa layanan Kami seperti termasuk namun tidak terbatas pada Bio Link, Homepage Product, dan Catalogue.</p>
                    </div>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">9. Kebijakan Lain</span>
                    <div class="w-100 pl-3">
                        <p>Kami sewaktu-waktu dapat memutuskan untuk mengubah, memperbarui atau menghentikan produk dan fitur layanan dengan pemberitahuan sebelumnya melalui Ultipage atau melalui media sosial Kami. Kami tidak menyatakan atau menjamin bahwa:</p>
                        <ol type="a">
                            <li>Ultipage akan:
                                <ol type="i">
                                    <li>Berjalan tanpa keterbatasan, penundaan, dan masalah-masalah lain yang terdapat dalam penggunaan internet dan komunikasi elektronik, termasuk perangkat dan Konten Partner, Bio Link yang tidak dapat diakses oleh Pengguna; atau</li>
                                    <li>Bebas dari kesalahan sistem aplikasi (bug).</li>
                                </ol>
                            </li>
                            <li>Segala bentuk pertanggungjawaban berdasarkan huruf a poin (i) di atas merupakan tanggung jawab Partner.</li>
                            <li>Layanan akan memenuhi persyaratan atau harapan Partner.</li>
                            <li>Aplikasi atau server yang membuat aplikasi tersedia bebas dari virus atau komponen berbahaya lainnya.</li>
                        </ol>
                        <p>Kami hanya berkewajiban atas sebagian aktivitas Partner dalam Ultipage yang ketentuannya telah Kami jelaskan diatas. Namun, Kami tetap melakukan pengawasan untuk tujuan memastikan kelancaran penggunaan aplikasi dan untuk memastikan kepatuhan terhadap Syarat dan Ketentuan ini, peraturan perundang-undangan yang berlaku, putusan pengadilan, dan/atau ketentuan lembaga administratif atau badan pemerintahan lainnya.</p>
                    </div>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">10. Bantuan</span>
                    <div class="w-100 pl-3">
                        <p>Dalam hal Partner mengalami hal-hal sebagai berikut:</p>
                        <ol type="a">
                            <li>gangguan sistem;</li>
                            <li>mengetahui atau menduga bahwa Ultipage & Partner yang ada pada perangkat Partner tidak berjalan sebagaimana mestinya;</li>
                            <li>tindakan lain yang merugikan Partner secara materiil; atau </li>
                            <li>terdapat kemungkinan bahwa perangkat telepon genggam Partner hilang, diretas, atau terkena virus</li>
                        </ol>
                        <p>segera laporkan kepada Kami melalui Kontak Kami, sehingga Kami dapat segera mengambil tindakan yang diperlukan untuk menghindari penggunaan yang tidak dikehendaki, penyalahgunaan, atau kerugian baik materiil maupun immateriil yang timbul atau mungkin timbul di kemudian hari.</p>
                        <p>Dalam hal penyampaian keluhan, pertanyaan, sanggahan, dan lain-lain berkaitan dengan penggunaan Ultipage, Partner wajib untuk memberikan informasi yang cukup, termasuk namun tidak terbatas pada ringkasan fakta yang terjadi, dan bukti-bukti yang Partner miliki untuk kami verifikasi kebenarannya.</p>
                    </div>
                </div>
            </div>
             <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">11. Sanksi</span>
                    <div class="w-100 pl-3">
                        <p>Kami akan memberikan sanksi tegas kepada Partner yang terbukti melakukan hal-hal sebagai berikut:</p>
                        <ol type="1">
                            <li>Melanggar Syarat dan Ketentuan ini;</li>
                            <li>Memasang Konten palsu, konten yang melanggar Hak Kekayaan Intelektual pihak lain, konten seksual atau pornografi (termasuk istilah-istilah yang tidak pantas dan melecehkan pihak lain), konten yang mengandung unsur SARA, konten terorisme dan/atau konten yang mengandung konflik kepentingan;</li>
                            <li>Konten yang mengandung tautan, informasi dan/atau ajakan untuk menggunakan aplikasi lain;</li>
                            <li>Gambar dan/atau tulisan yang memuat kekerasan atau mempromosikan kekerasan atau hal-hal lain yang tidak pantas;</li>
                            <li>Informasi yang diberikan  kepada Pengguna tidak sesuai dengan keadaan produk.</li>
                        </ol>
                        <p>Sanksi yang Kami terapkan merupakan sanksi berjenjang (sesuai dengan tingkat pelanggaran yang dilakukan oleh Partner), mulai dari teguran (baik secara lisan maupun tertulis) kepada Partner yang terbukti melanggar, pemblokiran Akun Partner dalam Ultipage & Partner, hingga laporan kepada Pihak yang berwajib dengan tujuan untuk dapat diproses secara hukum.</p>
                    </div>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">12. Penyelesaian Sengketa dan Pilihan Hukum</span>
                    <div class="w-100 pl-3">
                        <ol type="1">
                            <li>Syarat dan Ketentuan ini akan diatur, dianggap, dan ditafsirkan sesuai dengan hukum yang berlaku di Indonesia.</li>
                            <li>Setiap klaim dan/atau gugatan yang timbul dari atau terkait dengan Syarat dan Ketentuan ini akan diselesaikan secara musyawarah.</li>
                            <li>Apabila secara musyawarah tidak dicapai suatu kesepakatan, maka Para Pihak sepakat akan menyelesaikan melalui Kepaniteraan Pengadilan Negeri di Surabaya.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="form-group px-0">
                <div class="col-sm-12 col-12 px-0">
                    <span class="pb-3 d-block">13. Kontak Kami</span>
                    <div class="w-100 pl-3">
                        <p>Apabila Partner memiliki pertanyaan, keluhan dan/atau membutuhkan bantuan dapat menghubungi Kami melalui <a href="mailto:support@ultipage.co.id">support@ultipage.co.id</a> </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>