<!-- public/views/layouts/main.hbs -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DOT Hiring</title>
    <style>
      .panel-title a:after {
              font-family:Fontawesome;
              content:'\f077';
              float:right;
              font-size:10px;
              font-weight:300;
          }
          .panel-title a.collapsed:after {
              font-family:Fontawesome;
              content:'\f078';
          }

          {{!-- div {max-width: 30em;min-width:10em} --}}
          summary[role=button] {
              background-color: #000;
              color: #fff;
              padding: 1em;
              font-weight: bold;
              cursor: pointer
          }
          summary[role=button]:hover, summary[role=button]:focus,
          summary::marker {color: #0f0}
          details {
              border: 1px solid #000;
              margin-bottom: 0.25em
          }
          details p {padding: 0 1em}
          .panel-collapse {
              margin: 0 -1rem;
              background: #E9E9E9;

          }
          .subitem:after {
              border: none;
          }
      }
    </style>
  </head>
  {{ viewsPath }}
  <div id="loader"></div>
  <body class="" id="bodyId">
    {{{ body }}}
  </body>
  <script>
    var spinner = $('#loader');

    $(document).ready(function () {
      /*
      $(':button').click(function(e) {
        spinner.show();
      })
      $(':input[type="submit"]').click(function(e) {
        spinner.show();
      })
      */
      /*
      //for note on hover 
      $('.js-btn-tooltip').tooltip();
      $('.js-btn-tooltip--custom').tooltip({
          customClass: 'tooltip-custom'
      });
      $('.js-btn-tooltip--custom-alt').tooltip({
          customClass: 'tooltip-custom-alt'
      });

      $('.js-btn-popover').popover();
      $('.js-btn-popover--custom').popover({
          customClass: 'popover-custom'
      });
      $('.js-btn-popover--custom-alt').popover({
          customClass: 'popover-custom-alt'
      });
      */

    });    

  </script>

</html>
