<div class="row header2 flex-grow-1 d-flex flex-column justify-content-center align-items-center">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center">
      <img src="{{ host_no_basepath }}/images/icon-dot.png" width="200" class="" title="logo">
    </div>
  </div>
</div>