<div class="row">
  <div class="col-12">
    <div class="h-100 d-flex justify-content-center align-items-center">
      <img src="{{ host_no_basepath }}/{{ basepath }}/images/logo.svg" class="" title="logo">
    </div>
  </div>
</div>